body, html {
    font-family: 'Nunito', sans-serif;
}

nav {
    background-color: #26a69a;
}

.navbar-fixed {
    z-index: 999999999;
}

.page-footer {
    background-color: #26a69a;
}

.title {
    color: #000;
    padding: 0px 30px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
 